
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-play-circle"></i> <%=t("site_name")%>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"><a href="#page-top"></a></li>
        <li><a class="page-scroll" href="#about"><%=t("menu.about")%></a></li>
        <li><a class="page-scroll" href="#download"><%=t("menu.try_now")%></a></li>
        <li><a class="page-scroll" href="#contact"><%=t("menu.buy_me_a_beer")%></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="brand-heading"><%=t("slogan")%></h2>
          <p class="intro-text"><%=t("sub_slogan")%></p><br>
          <form action="/houses/index" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
            <div class="row">
              <div class="col-xs-6">
                <select name="city" class="form-control">
                  <%TwCountyInfo::INFO_HASH.each do |city|%>
                    <option value="<%=city[:code]%>"><%=city[:name]%></option>
                  <%end%>
                </select>
              </div>  
              <div class="col-xs-6">
                <select name="district" class="form-control">
                  <%TwCountyInfo::INFO_HASH.each do |city|%>
                    <%city[:districts].each do |dist|%>
                      <option data-city="<%=city[:code]%>" value="<%=dist[:code]%>"><%=dist[:name]%></option>
                    <%end%>
                  <%end%>
                </select>
              </div>
            </div><br><br>
            <div class="row text-center">
              <div class="col-xs-offset-4 col-xs-4">
                <button type="submit" class="btn btn-success btn-search-now"><%=t("call_to_action.start_use")%></button>
              </div> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%=t("about.title")%></h2>
      <%=raw t("about.content")%>
    </div>
  </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2><%=t("call_to_action.title")%></h2>
        <p><%=t("call_to_action.content")%></p>
        <a href="/houses" class="btn btn-info btn-lg"><%=t("call_to_action.start_use")%></a>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2><%=t("contact_me.title")%></h2>
      <p><%=t("contact_me.content")%></p>
      <p><a href="mailto:feedback@startbootstrap.com"><%=t("contact_mail")%></a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="RR756X2LZQBYU" />
          <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; <%=t("site_name")%> 2016</p>
  </div>
</footer>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>
  $(document).ready(function(){
    SearchFilter.init(
      "<%=params[:city].to_s%>",
      "<%=params[:district].to_s%>",
      "<%=params[:price_from].to_s%>",
      "<%=params[:price_to].to_s%>",
      "<%=params[:age_from].to_s%>",
      "<%=params[:age_to].to_s%>"
    );
  });
</script>